:root{
    --primary-color:#5fbaa7;    
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 20px;
}

h1{
    color: var(--primary-color);
}

p{
    text-align: center;
}

.select-money .currency{
    padding: 40px 0px;
}
.currency select{
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 16px;
}

.currency input{
    text-align: right;
    background: transparent;
    font-size: 30px;
    border: none;
}

.btn{
    background: transparent;
    border:  none;
    background: var(--primary-color);
    padding: 7px 12px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
}

.swap-money{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rate{
    color: var(--primary-color);
    padding: 0px 10px;
    font-size: 14px;
}

select:focus , input:focus , button:focus{
    outline: 0;
}

@media (max-width:600px){
    .currency input{
        width: 200px;
    }
}